---
/**
 * Update the details below to match your personal information
 */

enum DetailType {
	title = 'title',
	subtitle = 'subtitle',
	description = 'description',
}

const details: {
	type: DetailType;
	content: string;
}[] = [
	{
		type: DetailType.title,
		content: `Hi, I'm Shuanglin. ðŸ‘‹	`,
	},
	{
		type: DetailType.subtitle,
		content: 'Frontend & Backend Developer | AI Enthusiast | Tech Blogger',
	},
	{
		type: DetailType.description,
		content: 'æœ‰äº›äººä¹‹é—´ï¼Œæ³¨å®šåªè¦ç›¸é€¢ï¼Œå°±æ˜¯å¯¹çš„ã€‚\nå¦‚æžœè¿˜èƒ½é‡é€¢ï¼Œå°±æ˜¯æœ€å¥½çš„ã€‚',
		// "The world's full of lonely people afraid to make the first move. ðŸš€",
	},
];

const getClass = (type: DetailType) => {
	switch (type) {
		case DetailType.title:
			return 'font-sora text-4xl font-bold tracking-wide md:text-5xl animate-fade-up duration-300';
		case DetailType.subtitle:
			return 'text-xs font-light tracking-wide md:text-sm duration-300';
		case DetailType.description:
			return 'text-sm font-normal tracking-wide md:text-base animate-fade-in duration-300 text-center whitespace-pre font-lxgw-wenkai';
	}
};
---

<div class="grid grid-cols-1 place-content-center place-items-center gap-5">
	{
		details.map((detail) => (
			<p class={getClass(detail.type)}>{detail.content}</p>
		))
	}
</div>
