---
const textColor = 'text-gray-500';
---

<footer
	class="text-xs font-light tracking-wide md:text-sm duration-300 bg-transparent text-center absolute bottom-4 w-full font-lxgw-wenkai"
>
	<p><a href="http://beian.miit.gov.cn">蜀ICP备2024061800号-1</a></p>
	<p>© 2026 All rights reserved.</p>
</footer>

<style define:vars={{ textColor }}></style>
